<template>
  <div class="board">
    <Note v-for="note in notes"
      :label="note.label"
      :id="note.id"
      :key="note.id"
      :link="note.link"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import Note from "./Note.vue";

@Component({
  components: {
    Note
  }
})
export default class Board extends Vue {
  @Prop() private msg!: string;
  
  get notes () {
    return this.$store.state.notes;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.board {
  position: relative;
  display: flex;
  justify-content: space-around;
}
</style>
