<template>
  <div class="note">
    <h2>{{ label }} #{{ id }}</h2>
    Links to: {{ link }}
    <button class="start left" @click="connectStart" v-if="!connecting">+</button>
    <button class="end left" @click="connectEnd" v-if="connecting">+</button>

    <button class="start right" @click="connectStart" v-if="!connecting">+</button>
    <button class="end right" @click="connectEnd" v-if="connecting">+</button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class Note extends Vue {
  @Prop() private label!: string;
  @Prop() private id!: string;
  @Prop() private connectedTo!: string;
  @Prop() private link!: string;

  connectStart() {
      this.$store.dispatch("connectStart", this.id);
      console.log("connectStart", this.id);
      console.log(this.$store.state.connecting);
  }

  connectEnd() {
      this.$store.dispatch("connectEnd", this.id);
      console.log("connectEnd", this.id);
      console.log(this.$store.state.connecting);
      console.log(this.$store.state.notes);
  }

  get connecting () {
    return this.$store.state.connecting;
  }

  get selectedNote () {
    return this.$store.state.selectedNote;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.note {
    position: relative;
    width: 200px;
    height: 100px;
    color: #3d3d3d;
    background: #fafafa;
    border: 1px solid #cacaca;
}

h2 {
    font-size: 14px;
    font-weight: normal;
}

button {
    position: absolute;
    font-size: 12px;
    border-radius: 50%;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    padding:0;
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    background: #fff;
    color: #3d3d3d;
    border: 1px solid #cacaca;

    &.right {
        right: -11px;
    }

    &.left {
        left: -11px;
    }

    &.start {
        display: none;
    }

    .note:hover &.start {
        display: block;
    }

    &.end {
        background: #f00;
        color: #fff;
    }
}
</style>
